<!-- ESCONDE ESSA PARTE CASO NÃO TENHA NENHUM PRODUTO -->
<% if (products) { %>
<div class="container-fluid bg-hex">

    <div class="container highlights content">
        <div class="row highlights">
            <h2 class="title">
                Destaques
            </h2>
        </div>
        <div class="card-deck">
            <% products.forEach(function(product) { %>
            <div class="card">
                <img src="/uploads/images/products/<%= product.image %>" class="card-img-top" alt="<%=product.name%>">
                <div class="card-body">
                    <h5 class="card-title"><%=product.name%></h5>
                </div>
                <a class="link" data-toggle="lightbox" data-title="<%=product.name%>"
                    data-footer="<%=product.description%>"
                    data-remote="/uploads/images/products/<%= product.image %>"></a>
            </div>
            <% }); %>
        </div>
        <div class="row see-more">
            <a class="btn-default" href="/produtos">ver mais produtos</a>
        </div>
    </div>

</div>
<% } %>