<%- contentFor('body') %>
<div class="container products">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <h1 class="title">Produtos</h1>
    </div>
    <div class="col-md-12 col-lg-6 search-field">

      <form class="search-form" method="GET">
        <input class="search-input" type="text" name="search" placeholder="Tênis, camisetas e etc...">
        <button class="search-button" type="submit">Buscar</button>
      </form>

    </div>
  </div>

  <!-- CRIE ALGO PARA APARECER CASO NÃO TENHA NENHUM PRODUTO -->
  <% if (products) { %>
  <div class="row products-grid">
    <div class="card-deck">
      <!-- Card -->
      <% products.forEach(function(product) { %>
      <div class="col-md-12 col-lg-3 p-0">
        <div class="card">
          <img src="/uploads/images/products/<%= product.image %>" class="card-img-top" alt="<%=product.name%>">
          <div class="card-body">
            <h5 class="card-title"><%=product.name%></h5>
          </div>
          <a class="link" data-toggle="lightbox" data-title="<%=product.name%>" data-footer="<%=product.description%>"
            data-remote="/uploads/images/products/<%= product.image %>"></a>
        </div>
      </div>
      <% }); %>

    </div>

  </div>

</div>
<% } %>
</div>

<!-- CTA -->
<%- include('elements/cta.ejs') %>